body {
    margin: 0;
    padding: 0;
    background-color: #64b5f6;
    font-size: 16px;
}

.header {
    position: fixed;
    float: top;
    height: 60px;
    width: 100%;
    z-index: 100;
    background-color: #2286c3;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 30px;

}

.header p {
    font-size: 18px;
}

#logo {
    position: relative;
    float: left;
}

#logo img {
    height: 50px;
}

#author {
    position: relative;
    float: left;
    margin-left: 80px;
}

#group {
    position: relative;
    float: right;
    margin-right: 30px;
}

#variant {
    position: relative;
    float: right;
    margin-right: 30px;
}

.header p {
    font-family: sans-serif;
    color: black;
    font-weight: bold;
}

.main {
    height: fit-content;
    overflow: auto;
    margin: 0 10px 10px 10px;
    background-color: #9be7ff;
    border-radius: 10px;
    position: relative;
    top: 80px;
    padding: 10px;
    box-shadow: 0 0 8px #2286c3;
}

#task_text {
    width: 60%;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}

#text {
    width: 100%;
}

.main div {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

#area {
    width: 100%;
}

.data_input {
    background-color: #2286c3;

    float: left;
    margin-right: 10px;
}

.btn {
    background-color: #80d6ff;
    padding: 10px;
    border-radius: 10px;
    font-family: sans-serif;
    border: 1px gray solid;
}

.elements div {
    padding: 5px;
    border: 2px black dotted;
    margin: 15px;

}

.elements {
    font-family: sans-serif;
    float: top;
    margin-right: 10px;
}

.send {
    position: center;
}

#computed_result {
    background-color: white;
    width: auto;
    height: fit-content;
}

#computed_result {
    width: 400px;
    height: 400px;
    position: relative;
    float: left;
    margin-right: 10px;
}

#computed_result canvas {
    width: 100%;
    height: 100%;
}

.btn:hover {
    background-color: #9be7ff;
}

#script_output {
    background-color: wheat;
    padding: 10px;
}

#script_output > table {
    margin: auto;
    font-family: sans-serif;
    font-weight: lighter;
}

table, td, tr {
    border: 2px black solid;
    border-spacing: initial;
    border-collapse: collapse;
}

#y {
    border-radius: 3px;
    border: none;
    padding: 3px;
    background-color: white;
}

